@model ASP_HW_2.Models.ViewModels.IndexHomeViewModel

<body class="bg-secondary">
    <div class="d-flex justify-content-around">
        <div class="mb-3">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuSort">
                    <button value="PopularityAsc" class="nav-link text-dark dropdown-item sort-item">Popularity Asc</button>
                    <button value="ModelAsc" class="nav-link text-dark dropdown-item sort-item">Model Asc </button>
                    <button value="PriceAsc" class="nav-link text-dark dropdown-item sort-item">Price Asc</button>
                    <button value="CompanyAsc" class="nav-link text-dark dropdown-item sort-item">Company Asc </button>
                    <button value="YearAsc" class="nav-link text-dark dropdown-item sort-item">Year Asc</button>
                    <button value="CountryAsc" class="nav-link text-dark dropdown-item sort-item">Country Asc </button>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Serch options
            </button>
            <form class="dropdown-menu p-4" id="search">
                <label for="selectSearchParam">Search by:</label>
                <select name="searchParam" class="form-control" id="selectSearchParam">
                    <option>Model</option>
                    <option>Price</option>
                    <option>Company</option>
                    <option>Year</option>
                    <option>Country</option>
                </select>
                <div class="d-flex justify-content-center flex-column">
                    <input type="text" name="searchValue" class="w-100 my-2" />
                    <button type="submit" form="search" id="search-button" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter options
            </button>
            <form class="dropdown-menu p-4" id="filter">
                <div class="form-check d-flex justify-content-between">
                    <input type="checkbox" value="popularity" class="nav-link text-dark form-check-input" id="popularity" />
                    <label for="popularity" class="text-dark pr-1">Popularity</label>
                    <select name="popularity" class="input-checkbox" asp-items="Model.Popularity"></select>
                </div>
                <div class="form-check d-flex justify-content-between">
                    <input type="checkbox" value="model" class="nav-link text-dark form-check-input " id="model" />
                    <label for="models" class="text-dark pr-1">Model</label>
                    <select name="model" class="input-checkbox" asp-items="Model.Models"></select>
                </div>
                <div class="form-check d-flex justify-content-between">
                    <input type="checkbox" value="price" class="nav-link text-dark form-check-input" id="price" />
                    <label for="price" class="text-dark pr-1">Price</label>
                    <select name="price" class="input-checkbox" asp-items="Model.Prices"></select>
                </div>
                <div class="form-check d-flex justify-content-between">
                    <input type="checkbox" value="company" class="nav-link text-dark form-check-input" id="company" />
                    <label for="company" class="text-dark pr-1">Company</label>
                    <select name="company"  class="input-checkbox" asp-items="Model.Companies"></select>
                </div>
                <div class="form-check d-flex justify-content-between">
                    <input type="checkbox" value="year" class="nav-link text-dark form-check-input" id="year" />
                    <label for="year" class="text-dark pr-1">Year</label>
                    <select name="year"  class="input-checkbox" asp-items="Model.Years"></select>
                </div>
                <div class="form-check d-flex justify-content-between mb-2">
                    <input type="checkbox" value="country" class="nav-link text-dark form-check-input" id="country" />
                    <label for="country" class="text-dark pr-1">Country</label>
                    <select name="country"  class="input-checkbox" asp-items="Model.Countries"></select>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" form="filter" id="filter-button" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>

        <div>
            <button id="reset" class="btn btn-light">Reset all</button>
        </div>

    </div>
    <div id="bicyclesList">

    </div>

</body>




