<body>
    <h1>Order was successfully confirmed.</h1>
    <h2 class="text-success">Thank you for your order!</h2>
    <div class="w-100 d-flex justify-content-end">
        <a href="~/Home" class="btn btn-secondary w-50">Back to home page</a>
    </div>
</body>
