.popularity-star{
    width: 15%;
    height: 100%;
}

.home-image{
    width: 60px;
    margin-right: 2%;
}

.order-header{
    font-size: 2rem !important;
}

.cart-small{
    display: none;
}

.menu-buttons{
    display: none;
}

.input-checkbox{
    width: 100px!important
}

@media (max-width: 990px) {
    .inputs-container{
        flex-direction: column;
    }

    .inputs-container input{
        width: 100%!important;
    }

    .bike-img{
        display: none;
    }
}

@media (max-width: 850px) {
    .home-image {
        display: none;
    }

    .cart-small{
        display: flex;
    }
}

@media (max-width: 710px) {
    .cart-small {
        margin: 0!important;
    }

    .bicycle-container{
        flex-direction: column!important;
    }

    .bicycle-small{
        width: 100%!important
    }
}

@media (max-width: 330px){
    .login-buttons{
        display: none;
    }

    .menu-buttons{
        display: flex;
        margin-left: 0!important;
        margin-top: 10px;
    }

    .menu-buttons a{
        margin-left: 0!important;
    }
}

.authentification-done{
    display: none;
}


